@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap');

@font-face {
  font-display: swap;
  font-family: GTSuper;
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/GTSuperDsTrial-Su.woff2) format('woff2'),
    url(/fonts/GTSuperDsTrial-Su.woff) format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

@media (max-width: 1365px) and (min-width: theme('screens.fm-desktop')) {
  /* 16 it's default html font-size */
  html {
    font-size: calc(100vw / 1366 * 16);
  }
}

body {
  position: relative;
  height: 100%;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > div {
  height: 100%;
}

@supports (display: grid) {
  body {
    display: block;
  }
}

.wrapper {
  position: relative;

  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto !important;

  overflow-x: hidden;
}

.app {
  height: 100%;
}

.base {
  width: 100%;
  position: relative;

  flex: 1 0 auto;
}

@media screen and (min-width: 1024px) {
  .base {
    padding-top: 6rem;
  }
}

@media screen and (max-width: 1023px) {
  .base {
    padding-top: 5rem;
  }
}
